<div class="center content">
    <h1>User Profile</h1>
    <p>
        <% if @user.pic.attached? %>
            <!-- <img src="<%= url_for(@user.pic) %>" alt="" style="width: 200px; height: 200px;"> -->
            <%= image_tag @user.pic_resize(100,100) %>
        <% else %>
            No profile picture available.
        <% end %>
    </p>
    <p> Name: <%= @user.name %> </p> 
    <p> Email: <%= @user.email %> </p>
    <p>
        <p>
            CV:
            <% if @user.document.attached? %>
                <% if @user.document.content_type == "application/pdf" %>
                    <embed src="<%= url_for(@user.document)%>" type="" width="400" height="400">
                <% else %>
                    <%= link_to "Download CV", url_for(@user.document), target: "_blank" %>
                <% end %>
            <% end %>
            
        </p>
    </p>
    <p>
        <p>Videos:</p> 
        <% if @user.videos.attached? %>
            <% @user.videos.each do |video| %>
                <%= video_tag video, controls: true, width: 400 %>
            <% end %>
        <% else %>
            <p>No videos uploaded.</p>
        <% end %>
    </p>

    <p>
        Last login: <%= @user.last_login %>
    </p>
</div>
