<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Active Storage App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .center {
        margin: auto;
        width: 50%;
        /* border: 3px solid green; */
        padding: 10px;
        line-height: 30px;
      }
    </style>
  </head>

  <body>
    <p> <% flash[:notice] if flash[:notice] %> </p>
    <div class="center">
      <b> <%= link_to "Home", root_path %> &nbsp; &nbsp; </b>
      <% if logged_in? %>
        <b> <%= link_to "User Profile", users_show_path %> &nbsp; &nbsp; </b>
      <% end %>
      

    </div>

    <%= yield %>
  </body>
</html>
